<h1 class="cover-heading">Git Bootcamp.</h1>
<p class="lead">This is a sample code for the introduction to Git Code Versioning.</p>
<p class="lead">
    <a href="https://git-scm.com/" target="_blank" class="btn btn-lg btn-secondary">Learn more</a>
</p>